#include "traindir/auxiliary/segway.inc"

#if CARD_SEG != 4
#error CARD_SEG must be defined to be 4 for this input master file
#endif

DT_IN_FILE inline
4

0 map_frameIndex_ruler
1
% is the frameIndex divisible by RULER_SCALE
    -1 { mod(p0, RULER_SCALE) == 0 }

1 map_seg_segCountDown
1
% this is only used at the beginning of an observation track
0 4 0 1 2 default
    -1 1
    -1 1
    -1 1
    -1 1

2 map_segTransition_ruler_seg_segCountDown_segCountDown
4
    0 2 2 default
      % segTransition(0) == 2 (seg transition):
      % reinitialize the segCountDown value based on the usual tree
      % used at the beginning of a segment
      2 4 0 1 2 default
    -1 1
    -1 1
    -1 1
    -1 1

      % segTransition(0) in (0, 1) (no transition, subseg transition):
      1 2 0 default
            % ruler(0) == 0:
            -1 { p3 } % not at ruler mark -> copy previous value

            % ruler(0) == 1:
            -1 { max(p3-1, 0) } % subtract 1 from previous value, or 0


3 % XXXopt: good candidate for a linear combination C deterministic mapper

map_seg_subseg_obs
2       % num parents
        -1 { p0*CARD_SUBSEG + p1 } 


NAME_COLLECTION_IN_FILE inline
2

0 collection_seg_testtrack1 4
mx_seg0_subseg0_testtrack1
mx_seg1_subseg0_testtrack1
mx_seg2_subseg0_testtrack1
mx_seg3_subseg0_testtrack1
1 collection_seg_testtrack2 4
mx_seg0_subseg0_testtrack2
mx_seg1_subseg0_testtrack2
mx_seg2_subseg0_testtrack2
mx_seg3_subseg0_testtrack2



DPMF_IN_FILE inline
1

0 dpmf_always 1 1.0

DETERMINISTIC_CPT_IN_FILE inline
#if CARD_SUPERVISIONLABEL == -1
5
#else /* CARD_SUPERVISIONLABEL != -1 */
6
#endif /* CARD_SUPERVISIONLABEL == -1 */

0 seg_segCountDown
1
CARD_SEG CARD_SEGCOUNTDOWN
map_seg_segCountDown

1 frameIndex_ruler
1
CARD_FRAMEINDEX CARD_RULER
map_frameIndex_ruler

2 segTransition_ruler_seg_segCountDown_segCountDown
4
CARD_SEGTRANSITION CARD_RULER CARD_SEG CARD_SEGCOUNTDOWN CARD_SEGCOUNTDOWN
map_segTransition_ruler_seg_segCountDown_segCountDown

3 seg_seg_copy
1
CARD_SEG CARD_SEG
internal:copyParent

4 subseg_subseg_copy
1
CARD_SUBSEG CARD_SUBSEG
internal:copyParent

#if CARD_SUPERVISIONLABEL != -1
5 supervisionLabel_seg_alwaysTrue
2
CARD_SUPERVISIONLABEL CARD_SEG CARD_BOOLEAN
map_supervisionLabel_seg_alwaysTrue
#endif

#ifndef INPUT_PARAMS_FILENAME

DENSE_CPT_IN_FILE inline
5

0 start_seg 0 4
0.25 0.25 0.25 0.25

1 seg_subseg 1 4 1
1.0
1.0
1.0
1.0

2 seg_seg 1 4 4
0.0 0.333333333333 0.333333333333 0.333333333333
0.333333333333 0.0 0.333333333333 0.333333333333
0.333333333333 0.333333333333 0.0 0.333333333333
0.333333333333 0.333333333333 0.333333333333 0.0

3 seg_subseg_subseg 2 4 1 1
1.0

1.0

1.0

1.0

4 segCountDown_seg_segTransition 2 2 4 3
0.99008910901 0.0099008910901 9.99990000095e-06
0.99008910901 0.0099008910901 9.99990000095e-06
0.99008910901 0.0099008910901 9.99990000095e-06
0.99008910901 0.0099008910901 9.99990000095e-06

0.990099009901 0.00990099009901 0.0
0.990099009901 0.00990099009901 0.0
0.990099009901 0.00990099009901 0.0
0.990099009901 0.00990099009901 0.0


MEAN_IN_FILE inline
8

0 mean_seg0_subseg0_testtrack1 1 0.529640875646
1 mean_seg0_subseg0_testtrack2 1 0.447601509542
2 mean_seg1_subseg0_testtrack1 1 0.411270266208
3 mean_seg1_subseg0_testtrack2 1 0.468235172917
4 mean_seg2_subseg0_testtrack1 1 0.4174899315
5 mean_seg2_subseg0_testtrack2 1 0.469883137457
6 mean_seg3_subseg0_testtrack1 1 0.539282602886
7 mean_seg3_subseg0_testtrack2 1 0.441112277932

COVAR_IN_FILE inline
2

0 covar_testtrack1 1 0.247466461547
1 covar_testtrack2 1 0.247466461547


#else

DENSE_CPT_IN_FILE INPUT_PARAMS_FILENAME ascii
MEAN_IN_FILE INPUT_PARAMS_FILENAME ascii
COVAR_IN_FILE INPUT_PARAMS_FILENAME ascii

#endif


MC_IN_FILE inline
8

0 1 COMPONENT_TYPE_DIAG_GAUSSIAN mc_asinh_norm_seg0_subseg0_testtrack1 mean_seg0_subseg0_testtrack1 covar_testtrack1
1 1 COMPONENT_TYPE_DIAG_GAUSSIAN mc_asinh_norm_seg0_subseg0_testtrack2 mean_seg0_subseg0_testtrack2 covar_testtrack2
2 1 COMPONENT_TYPE_DIAG_GAUSSIAN mc_asinh_norm_seg1_subseg0_testtrack1 mean_seg1_subseg0_testtrack1 covar_testtrack1
3 1 COMPONENT_TYPE_DIAG_GAUSSIAN mc_asinh_norm_seg1_subseg0_testtrack2 mean_seg1_subseg0_testtrack2 covar_testtrack2
4 1 COMPONENT_TYPE_DIAG_GAUSSIAN mc_asinh_norm_seg2_subseg0_testtrack1 mean_seg2_subseg0_testtrack1 covar_testtrack1
5 1 COMPONENT_TYPE_DIAG_GAUSSIAN mc_asinh_norm_seg2_subseg0_testtrack2 mean_seg2_subseg0_testtrack2 covar_testtrack2
6 1 COMPONENT_TYPE_DIAG_GAUSSIAN mc_asinh_norm_seg3_subseg0_testtrack1 mean_seg3_subseg0_testtrack1 covar_testtrack1
7 1 COMPONENT_TYPE_DIAG_GAUSSIAN mc_asinh_norm_seg3_subseg0_testtrack2 mean_seg3_subseg0_testtrack2 covar_testtrack2

MX_IN_FILE inline
8

0 1 mx_seg0_subseg0_testtrack1 1 dpmf_always mc_asinh_norm_seg0_subseg0_testtrack1
1 1 mx_seg0_subseg0_testtrack2 1 dpmf_always mc_asinh_norm_seg0_subseg0_testtrack2
2 1 mx_seg1_subseg0_testtrack1 1 dpmf_always mc_asinh_norm_seg1_subseg0_testtrack1
3 1 mx_seg1_subseg0_testtrack2 1 dpmf_always mc_asinh_norm_seg1_subseg0_testtrack2
4 1 mx_seg2_subseg0_testtrack1 1 dpmf_always mc_asinh_norm_seg2_subseg0_testtrack1
5 1 mx_seg2_subseg0_testtrack2 1 dpmf_always mc_asinh_norm_seg2_subseg0_testtrack2
6 1 mx_seg3_subseg0_testtrack1 1 dpmf_always mc_asinh_norm_seg3_subseg0_testtrack1
7 1 mx_seg3_subseg0_testtrack2 1 dpmf_always mc_asinh_norm_seg3_subseg0_testtrack2

