  variable: presence_dinucleotide {
     type: discrete observed $presence_index:$presence_index cardinality CARD_PRESENCE;

     conditionalparents: CONDITIONALPARENTS_PRESENCE;
  }

  variable: dinucleotide {
     type: discrete observed $dinucleotide_index:$dinucleotide_index cardinality CARD_DINUCLEOTIDE;

     conditionalparents: seg(0) using DenseCPT("seg_dinucleotide");
  }
