#include "${include_filename}"

DT_IN_FILE inline
1

0 map_parent
1
    -1 { p0 }

$name_collection_spec

#ifndef USE_TRAINABLE_PARAMS

DPMF_IN_FILE inline
1

0 dpmf_always 1 1.0

$dense_cpt_spec
$mean_spec
$covar_spec
$gamma_spec
$mc_spec
$mx_spec

#endif
