#include "${include_filename}"

DT_IN_FILE inline
2

0 map_parent
1              % num parents
    -1 { p0 }

1 map_state_seg
1
% floor divide by the number of states per seg
    -1 { floor_divide(p0, CARD_STATE / CARD_SEG) }

$name_collection_spec
$dirichlet_spec

DPMF_IN_FILE inline
1

0 dpmf_always 1 1.0

#ifndef INPUT_PARAMS_FILENAME

$dense_cpt_spec
$mean_spec
$covar_spec
$gamma_spec
$mc_spec
$mx_spec

#else

DENSE_CPT_IN_FILE INPUT_PARAMS_FILENAME ascii
REAL_MAT_IN_FILE INPUT_PARAMS_FILENAME ascii
MEAN_IN_FILE INPUT_PARAMS_FILENAME ascii
COVAR_IN_FILE INPUT_PARAMS_FILENAME ascii
MC_IN_FILE INPUT_PARAMS_FILENAME ascii
MX_IN_FILE INPUT_PARAMS_FILENAME ascii

#endif
