   variable: presence_$track {
     type: discrete observed $presence_index:$presence_index cardinality CARD_PRESENCE;

     conditionalparents: CONDITIONALPARENTS_PRESENCE;
   }

   variable: $track {
     type: continuous observed $track_index:$track_index;

     switchingparents: presence_$track(0) using mapping("map_parent");

     conditionalparents: $conditionalparents_spec;

     weight: $weight_spec;
   }
