   variable: nonmissing_$track {
     type: discrete observed $nonmissing_index:$nonmissing_index cardinality CARD_NONMISSING;

     conditionalparents: CONDITIONALPARENTS_NONMISSING;
   }

   variable: $track {
     type: continuous observed $track_index:$track_index;

     switchingparents: nonmissing_$track(0) using mapping("map_parent");

     conditionalparents: nil using mixture("internal:UnityScore")
                         | seg(0) using mixture collection("collection_seg_$track")
                           mapping("map_parent");
   }
