#ifndef SEG_INC
#define SEG_INC

%% component types
#define COMPONENT_TYPE_DIAG_GAUSSIAN 0
#define COMPONENT_TYPE_GAMMA 3

%% cardinalities

% data exists or is missing?
#define CARD_PRESENCE 2

% which segment?
#define CARD_STATE $card_state
#define CARD_SEG $card_seg

% AA .. TT
#define CARD_DINUCLEOTIDE 16

%% types

#define TYPE_STATE discrete hidden cardinality CARD_STATE
#define TYPE_SEG discrete hidden cardinality CARD_SEG

%% conditionalparents

#define CONDITIONALPARENTS_PRESENCE nil using DenseCPT("internal:UnityScore")
#define CONDITIONALPARENTS_SEG state(0) using XXX

#endif
