#include "${include_filename}"

GRAPHICAL_MODEL model_seg

frame: 0 {
   variable: state {
     type: TYPE_STATE;
     conditionalparents: nil using DenseCPT("start_state");
   }

   variable: seg {
     type: TYPE_SEG;
     conditionalparents: CONDITIONALPARENTS_SEG;
   }

${observations}}

frame: 1 {
   variable: state {
     type: TYPE_STATE;
     conditionalparents: state(-1) using DenseCPT("state_state");
   }

   variable: seg {
     type: TYPE_SEG;
     conditionalparents: CONDITIONALPARENTS_SEG;
   }

${observations}}

chunk 1:1
