#if CARD_SUPERVISIONLABEL >= 0
   variable: alwaysTrue {
     type: discrete observed value 1 cardinality CARD_BOOLEAN;

     switchingparents: presence__supervisionLabel(0) using mapping("internal:copyParent");

     conditionalparents: $conditionalparents_spec;

     weight: $weight_spec;
   }

   variable: presence__supervisionLabel {
     type: discrete observed $presence_index:$presence_index cardinality CARD_PRESENCE;

     conditionalparents: CONDITIONALPARENTS_PRESENCE;

   }

   variable: supervisionLabel {
     type: discrete observed $track_index:$track_index cardinality CARD_SUPERVISIONLABEL;

     conditionalparents: CONDITIONALPARENTS_NIL_DISCRETE;

   }
#endif /* CARD_SUPERVISIONLABEL >= 0 */
