#include "${include_filename}"

#define BINARY_DT 1 0 2 0 default -1 0 -1 1

$dt_spec
$name_collection_spec

#ifndef VITERBI
DPMF_IN_FILE inline
1

0 dpmfOne 1 1.0

DENSE_CPT_IN_FILE inline
2

0
start_seg
0
CARD_SEG
0.9 0.1

1
seg_seg
1
CARD_SEG CARD_SEG
0.9 0.1
0.1 0.9

$mean_spec
$covar_spec
$mc_spec
$mx_spec

#endif
