#include "${include_filename}"

GRAPHICAL_MODEL model_seg

frame: 0 {
   variable: seg {
     type: TYPE_SEG;
     conditionalparents: nil using DenseCPT("start_seg");
   }

  variable: dinucleotide {
     type: TYPE_DINUCLEOTIDE;
     conditionalparents: seg(0) using XXX;
  }

${observations}

}

frame: 1 {
   variable: seg {
     type: TYPE_SEG;
     conditionalparents: seg(-1) using DenseCPT("seg_seg");
   }

${observations}

}

chunk 1:1
